/************************************************************
* 覆蓋 Bootstrap 預設樣式
************************************************************/
:root {
	--primary: #2baee5;
}
.bg-primary {
	background-color: var(--primary) !important;
}
.text-primary {
	color: var(--primary) !important;
}
.btn-danger {
	background: #c50013;
}
.btn-danger:hover {
	background: #dc3545;
}
.badge-danger {
	font-size: 1rem;
	background: #c50013;
}
.border {
	border-width: 2px !important;
}
.table th, .table td {
	border-top: none;
	border-bottom: 1px solid #c3c3c3;
}

/************************************************************
* 自定樣式
************************************************************/
html, body {
	margin: 0px;
	padding: 0px;
}
body {
	/* font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "A-OTF 新ゴ Pro", "A-OTF Shin Go Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
	font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
	-webkit-font-smoothing: antialiased;
}
h3 {
	font-family: "Noto Sans Japanese";
	font-weight: 900;
	font-size: 2.25rem;
	margin: 0;
}
h4 {
	font-weight: 900;
}
p {
	font-size: 1.2rem;
	font-weight: normal;
	margin-bottom: 1.7rem;
}
p:last-child {
	margin-bottom: 0;
}

a {
    color: #999;
    text-decoration: underline;
	}
	
ul {
	list-style: none;
}
li {
	position: relative;
	margin-top: 0.3rem;
}
li:first-child {
	margin-top: 0;
}
main section.alt {
	background: #f0f0f0;
}
header .container, main .container {
	position: relative;
	max-width: 1120px;
}
.check-circle {
	/*margin-left: 6rem;*/
	font-weight: 700;
}
.check-circle li {
	/*margin-top: 1rem;*/
	margin-top: 0.6rem;
}
.check-circle li::before {
	position: absolute;
	content: '\f058';
	font-family: 'Font Awesome 5 Free';
	font-size: 1.875rem;
	font-weight: 900;
	left: -2.75rem;
	top: -10px;
	color: var(--primary);
}
.card-header{
	margin-bottom: 0 !important;
	font-size: 1.5rem;
	font-weight: 900;
	padding-left: 0;
}	
.card-body{
	/* padding: 3rem 12rem; */
	padding: 2rem 0rem;
}
.color-circle {
	display: block;
	background: var(--primary);
	color: #fff;
	border-radius: 100%;
	width: 64px;
	height: 64px;
	line-height: 67px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 900;
}

.color-circle-sm {
	display: inline-block;
	margin-right: 0.5rem;
	background: var(--primary);
	color: #fff;
	border-radius: 100%;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	font-size: 1rem;
	font-weight: 900;
	flex: 0 0 auto;
}

#info {
	background: url(../images/info-bg-pc.jpg) no-repeat;
}

#learn .card {
	padding: 1.5rem 0;
	border: none;
	border-bottom: 5px solid #e8e8e8;
	border-radius: 0;
	position: relative;
	filter: drop-shadow(0px 2px 2px #999);
}
#learn .card::after {
	content: '';
	border: 10px solid #e8e8e8;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	position: absolute;
	left: 50%;
	bottom: -15px;
	transform: translateX(-50%);

}
#learn .card:last-child::after {
	display: none;
}
#learn .card.pl {
	padding-left: 225px;
	padding-right: 2rem;
}
#learn .card.pr {
	padding-left: 2rem;
	padding-right: 225px;
}
#learn .card-header {
	background: transparent;
}
#learn .card-header::before {
	content: '【 ';
	color: var(--primary);
}
#learn .card-header::after {
	content: ' 】';
	color: var(--primary);
}
#seminar {
	background: url(../images/seminar-bg-pc.jpg);
}

td.active {
	background: #d8effe;
}
.table .text-muted {
	font-size: 0.8em;
}

.qa .card {
	background: transparent;
}
.qa .card-header {
	padding-top: 1rem;
	background: transparent;
	border: none;
	font-weight: 900;
}
.qa .card-header:first-child {
	padding-top: 0;
}
.qa .card-body {
	background: #e7ecf3;
}
.qa p {
	padding: 0px 80px;
}
.qa p:last-child {
	margin-bottom: 0;
}
.bg-gray {
	background: #e7ecf3;
}
footer {
	padding: 2% 0;
	background: #e7ecf3;
	color: #3a3a3a;
	text-align: center;
}
footer p {
	font-weight: 400;
}
footer p:last-child {
	margin: 0px;
}
footer a {
	color: #3a3a3a;
	text-decoration: none;
}
footer a:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
	body {
		font-size: 0.95rem;
	}
	.card-body {
		padding-top: 1rem;
	}
	.card-body p:last-child {
		margin-bottom: 0;
	}
	p {
		font-size: 1rem;
		padding: 0;
		margin-bottom: 1.6rem;
	}
	ul {
		max-width: 650px;
		font-weight: 900;
		margin-bottom: 0;
	}
	.check-circle li::before {
		position: absolute;
		content: '\f058';
		font-family: 'Font Awesome 5 Free';
		font-size: 1.5rem;
		font-weight: 900;
		left: -2rem;
		top: -8px;
		color: var(--primary);
	}
	.color-circle {
		width: 48px;
		height: 48px;
		line-height: 50px;
		font-size: 1.25rem;
	}
	#info {
		background: url(../images/info-bg-mobile.jpg) no-repeat;
	}
	#learn {
		background: #41afe2 url(../images/learn-bg-mobile.jpg) no-repeat !important;
		background-attachment: fixed;
	}
	#learn .card {
		background-color: #fff !important;
		background-image: none !important;
	}
	#learn .card.pl {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	#learn .card.pr {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	#learn .card-header {
		text-align: center;
		padding-top: 0;
		padding-right: 0;
	}
	#learn .card-body {
		padding: 1rem;
		padding-bottom: 0px;
	}
	#seminar {
		background: url(../images/seminar-bg-mobile.jpg);
		background-size: contain;
	}

	.schedule.table {
		font-size: 12px;
	}
	.schedule.table th, .schedule.table td {
		padding: 5px 0;
		font-size: 10px;
		line-height: 1.25;
	}
	.table .text-muted {
		font-size: 80%;
	}
	.table .btn {
		margin: 3px;
		margin-bottom: 0;
		font-size: 10px;
		padding: 0 0.25rem !important;
	}
	.qa .card-header {
		font-size: 1rem;
	}
	.qa .card-body {
		padding: 1rem;
	}
	.qa p {
		font-size: 1rem;
		padding: 0;
	}
	footer {
		padding-top: 7%;
		padding-bottom: 7%;
		font-size: 13px;
	}
}
@media (max-width: 575.98px) {
	h3 {
		font-size: 1.3rem;
	}
}

.who-text {
	padding: 0% 0% 16% 0%;
}
@media (max-width: 1800px) {
	.who-text {
		padding: 0% 10% 10% 10%;
	}
}
@media (max-width: 1500px) {
	.who-text {
		padding: 0% 20% 8% 20%;
	}
}
@media (max-width: 575.98px) {
	.who-text {
		padding: 0% 1rem 18%;
	}
}